extends ../layout

block content
    div.d-inline-flex.flex-row.w-100
        div.w-50
            .card.m-2
                .card-header
                    h2 Boards
                .card-body
                    if boards
                        each  board, i  in boards
                            .card.pl-0.pr-0.m-5
                                .card-body.container-fluid.row
                                    h5.card-title.col-sm #{board.board_name}
                                    div.col-sm
                                        h6 users
                                        ul.list-group.w-50
                                            if board.users
                                                each user,i in board.users
                                                    li.list-group-item  #{user}


                                    div.col-sm
                                        h6 columns
                                        ul.list-group.w-50
                                            if board.columns!=null
                                                each column,i in board.columns
                                                    li.list-group-item  #{column.column_name}
                                                        span.badge.badge-primary.badge-pill
                                    div
                                        a.btn.btn-primary(href="/settings/delete/"+board.board_name) Delete
                                        a.btn.btn-primary( class="hideshow" ,id=board.board_name) Edit
                            div(style="display:none",class =board.board_name)
                                form.offset-md-3(method='post', action='/boards/add' ).m-1.mt-0
                                    .form-group.m-2
                                        label board name
                                        input.form-control(name='name',value=board.board_name, type='text', placeholder='Enter board name')
                                    .form-group.m-2
                                        label(for='comment') description
                                        textarea#comment.form-control(columns="150",rows='5',name='description',placeholder="description") #{board.description}


                                    .form-group.m-2
                                        .row

                                            h3.text-center User
                                        .well(style='max-height: 300px;overflow: auto;')
                                            ul.list-group.checked-list-box
                                                if users
                                                    each user ,i in users
                                                        .form-group.m-2
                                                            label(for='comment') #{user.username}
                                                            input#gridCheck.form-check-input(type='checkbox' name='users' value=user.username)
        .card.w-25.m-2.h-auto
            .card-header
                h2 Users
            .card-body.h-auto
                div.border-dark.w-100.h-auto
                    if users!=null
                            each user , i in users
                                ul.list-group
                                    li.list-group-item  #{user.username}
                                        a(href='/settings/delete/user/'+user.username)
                                            img.img-fluid.float-right(src="/images/trash.png")
                                        img.img-fluid.float-right.mr-3(width='35' ,src="/images/edit.png" height='35')




            