extends ../layout
link(href='/stylesheets/board.css', rel='stylesheet')

block content
            .background.w-100.h-100(classe='container',style='background-image: url(/images/backgrounds/'+board.image+'.jpg' )
                h1 board name
                h2 #{board.board_name}
                button.btn.btn-primary.ml-5.mb-3(type='button', data-toggle='modal', data-target='#addcolumnModal') add column
                br
                .div(class='board')
                    if columns!=null
                        each  column, i  in columns
                            .w-25.d-inline-block.h-auto.ml-5.columnborder(class="board-column")
                                .board-column-header.card.h-100
                                    .card-header.rounded.columnborder(id=column.column_name)
                                        | #{column.column_name}

                                        a(href="/board/delete/"+board.board_name+'/'+column._id).fa.fa-trash.d-inline-flex.float-right
                                            img.img-fluid(src="/images/trash.png")
                                    .card-body(id='drag-inner-list' ,class="sortableList" )

                                            if column.items!=null
                                                each  item, i  in column.items
                                                    .item(draggable="true",class="ui-state-default")
                                                        a(class="openitem",data-toggle='modal', data-target='#openitem')
                                                            .card.mb-3.h-auto(id="card-drag-area",style='background-color:'+item.color)
                                                                .card-header(data-itemtitle=item.title+"",data-itemdescription=item.description+"",data-itemuser=item.assigneduser+"",data-itemcolor=item.color+"")
                                                                     h3 #{item.title}
                                                                .card-body(data-itemtitle=item.title+"",data-itemdescription=item.description+"",data-itemuser=item.assigneduser+"",data-itemcolor=item.color+"")
                                                                    p.card-text
                                                                        | #{item.description}

                                        button.btn.btn-primary.additem(type='button', class="additem",data-toggle='modal', data-target='#additem',data-val1=column._id) add item






            #addcolumnModal.modal.fade(tabindex = '-1', role = 'dialog', aria-labelledby = 'exampleModalLabel', aria- = 'true')

                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title Add column
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-body
                            form.offset-md-3(method='post', action='/board/addcolumn/'+board.board_name).m-1.mt-0
                                .form-group.m-2
                                    label board name
                                    input.form-control(name='name', type='text', placeholder='Enter column name')



                                button.btn.btn-primary(type='submit', value='Submit') Save changes


                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Close



            #additem.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title add item to

                            span#modal-val1

                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-body
                            form.offset-md-3(method='post', action='/board/additem/'+board.board_name).m-1.mt-0
                                .form-group.m-2
                                    label title
                                    input.form-control(name='title', type='text', placeholder='Enter title ')

                                .form-group.m-2
                                    label(for='comment') description
                                    textarea#comment.form-control(columns="150",rows='5',name='description',placeholder="description")
                                .form-group.m-2
                                    label(for='inputState') State
                                        select#inputState.form-control(name ="user")
                                            if users
                                                each user ,i in users
                                                        option(value =user.username) #{user.username}
                                .form-group.m-2
                                    label(for='comment') Choose color
                                    input#color(name='color', type='color', value='#FFFF00')

                                input#modal-val1(type='hidden',name='columnid')

                                button.btn.btn-primary(type='submit', value='Submit') Save changes

                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

            #openitem.modal.fade(tabindex = '-1', role = 'dialog', aria-labelledby = 'exampleModalLabel', aria-hidden= 'true')

                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            span#modal-itemtitle(class="modal-itemtitle")
                            span#modal-itemdescription
                            span#modal-itemuser
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-body
                            form.offset-md-3().m-1.mt-0
                                .form-group.m-2
                                    label board name


                                button.btn.btn-primary(type='submit', value='Submit') Save changes


                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
    script(src='/javascripts/boardscript.js', rel='script')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
